#home {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

#home a { 
    width: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

#home__container__welcome { 

    background-color: #00ADB5;
    
    font-weight: 500;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px;
}

#home__container__welcome__header { 
    font-size: 20px;
    color: white;
}

#home__container__welcome__text { 
    font-size: 18px;
    color: rgb(225, 225, 225);
    margin-top: 10px;
}